@model RecipeViewModel

@{
    var editMode = ViewBag.EditMode ?? false;
    Recipe recipe = Model.Recipe;
    IEnumerable<IngredientWithDetails>? entries = Model.Ingredients;
}

<div id="recipe-details-by-id">
    <h1>@recipe.Name</h1>
    <p>@recipe.ShortDescription</p>

    @if (entries != null)
    {
        <div id="ingredient-list">
            <h2>Ingredients:</h2>
            <div>
                @foreach (var entry in entries)
                {
                    var measurementString = "";
                    if (entry.Details.Amount != null) measurementString += entry.Details.Amount.ToString();
                    if (entry.Details.Unit != null) measurementString += entry.Details.Unit;

                    <div>
                        <p>@entry.Ingredient.Name -- @measurementString</p>
                    </div>
                    
                }
            </div>

            <br />
        </div>
    }

    @if (recipe.RecipeText != null)
    {
        <div id="recipe-text">
            <p>@recipe.RecipeText</p>
        </div>
    }

    @if (recipe.S3Url != null)
    {
        <div id="recipe-image-or-pdf">

        </div>
    }
</div>